
<div class="row jumbotron Header top-buffer-100">
  <div class="col-md-8">
    <img src="http://weonlydothisonce.com/wp-content/uploads/2014/01/savings.jpg" width="600px" height="350px">
  </div>

  <div class="col-md-4">
    <h2>Seat Slasher</h2>
    <h4 class="Subtitle">
      Save Money by signing up to receive alerts for tickets under face value.
    </h4>

    <% if current_user.present? %>
      <a href="/available_tickets">
    <% else %>
      <a href="/users/sign_up">
    <% end %>
      <button type="button" class="btn btn-primary btn-lg"><b><span class="glyphicon glyphicon-plus"></span>  Get Started!</b></button>
    </a>
<a id="testimonial"></a>
  </div>
</div>
<div class="row jumbotron">
  <div class="col-md-4 center-text">
    <div class="thumbnail">
      <img src="http://positiveffect.files.wordpress.com/2011/08/happy-customer.jpg" class="img-circle" width="150px" height="250px">
        <div class="caption">
          <h3><b>Testimonial #1</b></h3>
            <p class="lead">The best product ever!</p>
            <div class="UserName">- Stephanie T.</div>
        </div>
    </div>
  </div>

  <div class="col-md-4 center-text">
    <div class="thumbnail">
      <img src="http://www.mvdexpress.com/wp-content/uploads/2013/03/121202921.jpg" class="img-circle" width="150px" height="250px">
        <div class="caption">
          <h3><b>Testimonial #2</b></h3>
            <p class="lead">Saved over 50%</p>
            <div class="UserName">- Will B.</div>
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="http://acrownplumbing.com/uploads/Happy_Customer_346.png" class="img-circle" width="150px" height="250px">
        <div class="caption center-text">
          <h3><b>Testimonial #3</b></h3>
            <p class="lead">Found something to do!</p>
            <div class="UserName">- Robert S.</div>
        </div>
    </div>
<a id="FAQ"></a>
  </div>
</div>

<div class="row jumbotron">
  <div class="col-md-12">

    <h2>About Seat Slasher:</h2>
    <dl>
      <dt class="FAQ-Q-Indent">Who we are?</dt>
        <dd class="FAQ-A-Indent">We...</dd>
      <dt class="FAQ-Q-Indent">Where do the tickets come from?</dt>
        <dd class="FAQ-A-Indent">Tickets come from a variety of sources; ticket brokers, individuals with extra tickets, event promoters, and anyone else who has extra tickets to sell.</dd>
      <dt class="FAQ-Q-Indent">Why are they so cheap?</dt>
        <dd class="FAQ-A-Indent">Artists and venues would rather have someone in every seat as opposed to a half full venue. Therefore, if tickets are not selling at their original price, disccounts are applied to encourage people to go to the event.</dd>
      <div class="FAQ-Q-Indent">Are there any additional fees?</div>
        <dd class="FAQ-A-Indent">Unlike some sites who charge up to 35% in service fees, we do not charge any service fees.</dd>
      <dt class="FAQ-Q-Indent">Are the tickets real?</dt>
        <dd class="FAQ-A-Indent">Yes. If you have any issues please email us and we will provide you with your money-back.</dd>
      <dt class="FAQ-Q-Indent">What if the event is canceled / postponed?</dt>
        <dd class="FAQ-A-Indent">If the event is canceled - you will be entitled to a full refund from the seller.</dd>
        <dd class="FAQ-A-Indent">If the event is postponed - hold on to your ticket and use them for the new date/time!</dd>
    </dl>

  </div>
</div>

