
<div class="row jumbotron Header top-buffer-100">
  <div class="col-md-8">
    <img src="images/savings.jpg" width="600px" height="350px">
  </div>

  <div class="col-md-4">
    <h2>Seat Slasher</h2>
    <p class="Subtitle">
      Save Money by signing up for alerts for tickets under face value.
    </p>

    <% if current_user.present? %>
      <a href="/available_tickets">
    <% else %>
      <a href="/users/sign_up">
    <% end %>
      <button type="button" class="btn btn-primary btn-lg"><b><span class="glyphicon glyphicon-plus"></span>  Get Started!</b></button>
    </a>
<a id="testimonial"></a>
  </div>
</div>
<div class="row jumbotron">
  <div class="col-md-4 center-text">
    <div class="thumbnail">
      <img src="images/happy-customer.jpg" class="img-circle" width="150px" height="150px">
        <div class="caption">
          <h3><b>Testimonial #1</b></h3>
            <p class="lead">The best product ever!</p>
            <div class="UserName">- Stephanie T.</div>
        </div>
    </div>
  </div>

  <div class="col-md-4 center-text">
    <div class="thumbnail">
      <img src="images/happy-customer.jpg" class="img-circle" width="150px" height="150px">
        <div class="caption">
          <h3><b>Testimonial #2</b></h3>
            <p class="lead">Saved over 50%</p>
            <div class="UserName">- Will B.</div>
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="images/happy-customer.jpg" class="img-circle" width="150px" height="150px">
        <div class="caption center-text">
          <h3><b>Testimonial #3</b></h3>
            <p class="lead">Found something to do!</p>
            <div class="UserName">- Robert S.</div>
        </div>
    </div>
<a id="FAQ"></a>
  </div>
</div>

<div class="row jumbotron">
  <div class="col-md-12">

    <h2>About Seat Slasher:</h2>
    <dl>
      <dt class="FAQ-Q-Indent">Who we are?</dt>
        <dd class="FAQ-A-Indent">We</dd>
      <dt class="FAQ-Q-Indent">Where do the tickets come from?</dt>
        <dd class="FAQ-A-Indent">Venues</dd>
      <dt class="FAQ-Q-Indent">Why are they so cheap?</dt>
        <dd class="FAQ-A-Indent">Need to Fill Seats</dd>
        <dd class="FAQ-A-Indent">No Service Fees</dd>
      <dt class="FAQ-Q-Indent">Are the tickets real?</dt>
        <dd class="FAQ-A-Indent">Yes, money back guarentee</dd>
      <dt class="FAQ-Q-Indent">What if the event is canceled / postponed?</dt>
        <dd class="FAQ-A-Indent">If the event is canceled - you will be entitled to a full refund from the seller.</dd>
        <dd class="FAQ-A-Indent">If the event is postponed - hold on to your ticket and use them for the new date/time!</dd>
    </dl>

  </div>
</div>

