<div class="page-header">
  <h1>Tagging #<%= @tagging.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Genre</dt>
  <dd><%= @tagging.genre_id %></dd>

  <dt>Event</dt>
  <dd><%= @tagging.event_id %></dd>

</dl>
